/* line 1, ../sass/style.scss */
.wrap {
  color: #4C4C4C;
}

/* line 5, ../sass/style.scss */
.container {
  margin: 80px;
}
/* line 8, ../sass/style.scss */
.container input[type=text] {
  outline: none;
  border: 1px solid #ccc;
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid #C7C5C5;
  box-shadow: 1px 3px 12px 2px #ccc;
}
/* line 17, ../sass/style.scss */
.container input[type=checkbox] {
  outline: none;
}
/* line 19, ../sass/style.scss */
.container ul {
  padding: 0;
}
/* line 22, ../sass/style.scss */
.container ul li {
  list-style: none;
  padding-left: 10px;
  line-height: 20px;
}

/* line 30, ../sass/style.scss */
.nav {
  width: 100px;
  background: #ccc;
  border: 1px solid #464444;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}
/* line 38, ../sass/style.scss */
.nav li {
  padding: 3px;
  border-bottom: 1px solid #464444;
  margin-bottom: 0 !important;
  word-wrap: break-word;
  font-size: 20px;
}
/* line 45, ../sass/style.scss */
.nav li a {
  color: #464444;
  text-decoration: none;
}
/* line 49, ../sass/style.scss */
.nav li a:hover {
  text-decoration: underline;
}
/* line 52, ../sass/style.scss */
.nav li:last-child {
  border: none;
}

/* line 56, ../sass/style.scss */
input[type=checkbox],
.remove,
.addNode,
.todo {
  vertical-align: middle;
}

/* line 76, ../sass/style.scss */
.addNode {
  cursor: pointer;
  color: green;
}

/* line 81, ../sass/style.scss */
.edit {
  width: 80% !important;
  height: 5px;
  border: none !important;
  font-size: 18px;
  box-shadow: none !important;
}

/* line 89, ../sass/style.scss */
.completed {
  margin-top: 25px;
  background-color: #E2E2E2;
  display: inline-block;
  color: #777676;
  border-radius: 10px;
  padding: 10px;
}
/* line 97, ../sass/style.scss */
.completed span {
  margin-right: 5px;
}

/* line 102, ../sass/style.scss */
.done {
  text-decoration: line-through;
  color: #ADADAD;
}

/* line 107, ../sass/style.scss */
.left-line {
  border-left: 1px solid #ccc;
  margin-left: 4px;
}

/* line 112, ../sass/style.scss */
.todo {
  word-wrap: break-word;
}

/* line 113, ../sass/style.scss */
.remove {
  color: #881111;
}

/* line 114, ../sass/style.scss */
.nested {
  font-size: 14px;
}

/* line 115, ../sass/style.scss */
.hide {
  color: blue;
}

/* line 116, ../sass/style.scss */
.close {
  color: crimson;
}

/* line 117, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 119, ../sass/style.scss */
.hide,
.remove,
.close {
  cursor: pointer;
}
