.wrap { color: #4C4C4C; }

.container {
	margin: 80px;

	input[type=text] {
		width: 300px;
		padding: 10px;
		border: 1px solid #ccc;
		border-bottom: 2px solid #c7c5c5;
		outline: none;
		box-shadow: 1px 3px 12px 2px #ccc;
	}

	input[type=checkbox] {
		outline: none;
	}

	ul {
		padding: 0;

		li {
			line-height: 20px;
			padding-left: 10px;
			list-style: none;
		}
	}
} // container end

.nav {
	display: inline-block;
	width: 100px;
	text-align: center;
	border: 1px solid #464444;
	border-radius: 5px;
	background: #ccc;

	li {
		font-size: 20px;
		margin-bottom: 0 !important;
		padding: 3px;
		word-wrap: break-word;
		border-bottom: 1px solid #464444;

		a {
			text-decoration: none;
			color: #464444;

			&:hover {
				text-decoration: underline;
			}
		}

		&:last-child {
			border: none;
		}
	}
} // nav end

input[type=checkbox],
.remove,
.addNode,
.todo {
	vertical-align: middle;
}

// .addNode {
// 	width: 8px;
// 	height: 8px;
// 	margin-right: 3px;
// 	border-radius: 50%;
// 	display: inline-block;
// 	background: #4C4C4C;
// 	border: 5px solid #fff;
// 	cursor: pointer;

// 	&:hover { border: 5px solid #ccc; }
// }

.addNode {
	color: green;
	cursor: pointer;
}

.edit {
	font-size: 18px;
	width: 80% !important;
	height: 5px;
	border: none !important;
	box-shadow: none !important;
}

.completed {
	display: inline-block;
	margin-top: 25px;
	padding: 10px;
	color: #777676;
	border-radius: 10px;
	background-color: #e2e2e2;

	span {
		margin-right: 5px;
	}
}

.done {
	text-decoration: line-through;
	color: #adadad;
}

.left-line { 
	margin-left: 4px;
	border-left: 1px solid #ccc;
}

.hide,
.remove,
.close {
	cursor: pointer;
}

.todo   { word-wrap: break-word; }
.remove { color: #881111;        }
.nested { font-size: 14px;       }
.hide   { color: blue;           }
.close  { color: crimson;        }
.hidden { display: none;         }
