<!doctype html>
<html ng-app="todoMVC">
<head>
	<meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="bower/normalize-css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>TodoAngular</title>
</head>
<body>

	<div class="wrap">
		<div class="container" ng-controller="TodoCtrl as vm" ng-init="vm.init()">
			<h1>todos</h1>
			<form ng-submit="vm.add()">
				<input type="text" autofocus placeholder="what need to be done?"
							 ng-model="vm.newItem">
			</form>
			<div class="completed">
				<span>Hide completed</span>
				<input type="checkbox" ng-click="vm.hidden = !vm.hidden">
			</div>
			<ul id="list" class="list">
				<li ng-repeat="todo in vm.list" ng-include="'nested'"
					ng-class="{ 'hidden': todo.done && vm.hidden} " remove-todo>
				</li>
			</ul>
		</div>
	</div>

	<script type="text/ng-template" id="nested">

		<!-- hide nested todos -->

		<span class="hide" ng-class="{'close': !todo.open}"
					ng-click="show = !show; vm.toggleOpenClose(todo)">
			➤
		</span>

		<!-- add nested todo -->

		<span class="addNode" ng-click="vm.addNode(todo)">✚</span>

		<!-- remove todo -->

		<span class="remove" ng-click="vm.remove(todo)">✘</span>

		<!-- completed todo -->

		<input type="checkbox" ng-model="todo.done">

		<!-- TODO (also edit todo) -->

		<input type="text" class="edit"
					 ng-model="todo.item"
					 ng-class="{
						'done': todo.done,
						'nested': todo.nested
					 }">

		<!-- next todo -->

		<ul class="list" ng-show="!show">
			<li ng-repeat="todo in todo.nodes"
					ng-class="{ 'left-line': todo.line, 'hidden': todo.done && vm.hidden }"
					ng-include="'nested'"
					remove-todo>
			</li>
		</ul>

	</script>

	<!-- bower -->
	<script src="bower/angular/angular.min.js"></script>
	<script src="bower/angular-local-storage/angular-local-storage.min.js"></script>

	<!-- project -->
	<script src="js/module.js"></script>
	<script src="js/localStorage-config.js"></script>
	<script src="js/controller.js"></script>
</body>
</html>
